<nav
  class="bg-white dark:bg-slate-900 border-b border-primary/10 px-6 py-3 flex items-center justify-between sticky top-0 z-50"
>
  <div class="flex items-center gap-8">
    <div class="flex items-center gap-2">
      <div
        class="w-8 h-8 bg-primary rounded-lg flex items-center justify-center"
      ></div>
      <span
        routerLink="/"
        class="font-bold text-xl tracking-tight text-slate-800 dark:text-white cursor-pointer"
        >OrionTek</span
      >
    </div>
  </div>
  <div class="flex items-center gap-4">
    <div
      class="flex items-center gap-3 pl-4 border-l border-slate-200 dark:border-slate-800"
    >
      <div class="text-right hidden sm:block">
        <p class="text-sm font-semibold leading-none dark:text-white">
          Alex Rivera
        </p>
        <p class="text-xs text-slate-500 dark:text-slate-400 mt-1">
          Administrator
        </p>
      </div>
      <img
        class="w-9 h-9 rounded-full object-cover"
        data-alt="User profile avatar of Alex Rivera"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAMJUCJcg8HjWhlKfNLoPLZJojxX8n4ye4WpADQTcl9Qvl6cWnQeYcnZXQlE2S8QKnKMH6hj0CUQorndRQhdFPMfBdw2JJybNxAkya_TbAziVB9HouXCVd-kPH7oLax04eonncvbOfDSy8rtG_44zbZgIzdA8dozYu86fn4-W7yz_vfsnr22FlBebXQmDBhX9I33j8y2jneH6qr29TIjWWmQ0v2PidkcyxKNPUI-r1m7oMpGuNDfJcekdMUmP9QDwUyfLkTLZJOK78"
      />
    </div>
  </div>
</nav>
<router-outlet />
